<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Generate Git CV</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<h2>Generate CV</h2>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="searchInput">generate cv</label>
            <input id="searchInput" class="form-control" type="text" ng-model="ctrl.searchPattern">
        </div>
        <div class="form-group">
            <button type="button" class="form-control" ng-click="ctrl.searchClicked($event)">
                Search!
            </button>
        </div>
    </div>
</div>
<div ng-view></div>
<script src="/webjars/angularjs/1.4.9/angular.js"></script>
<script src="/webjars/angularjs/1.4.9/angular-resource.js"></script>
<script src="/webjars/angularjs/1.4.9/angular-route.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controller.js"></script>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.css">
</body>
</html>
