<h2>List of Repositories</h2>
<div class="row">
    <div class="col-md-12">
        <repositories-table repositories="ctrl.repositories"></repositories-table>
    </div>
</div>
<h2>Users</h2>
<div class="row">
    <div class="col-md-12">
        <ul ng-repeat="user in ctrl.users">
            <li><a ng-href="#users/{{user.login}}"><img ng-src="{{user.avatarUrl}}"></a></li>
        </ul>
    </div>
</div>
<h2>Percentage of languages</h2>
<div class="row">
    <div class="col-md-12">
        <repositories-table repositories="ctrl.repositories.languages"></repositories-table>
    </div>
</div>


